.col-12,.col-6{
	padding: 0px !important;
}

.flow{
	overflow-y: auto;
}

.pos{
	position: relative;
	top: -18px;
}

img{
	width: 100%;
	height: 100%;
	display: block;
}

.slider{
	height: 380px;
	z-index: 0;
}

.slider img{
	height: 370px;
	z-index: -1;
}

.news{
	overflow-y: auto;
}

.top{
	padding-top: 10px;
}

.news-img {
	height: 180px;
	width: 50%;
	float: left;
	/*margin: 0px;*/
	background-size: cover;
	background-position: center center;
	overflow-y: auto;
}

.news-cont{
	width: 50%;
	padding: 26px 14px 34px 14px;
	float: left;
	height: 180px;
	/*overflow-y: auto;*/
	background-color: white;
	cursor: pointer;
	position: relative;
}

.news-cont h4{
	font-size: 12pt;
	font-family: "Arial";
	margin-bottom: 15px;
	margin-top: 15px;
	font-weight: bold;
}

.news-cont p{
	font-size: 8pt;
	font-family: "Roboto-Regular";
}

.news-cont h3{
	font-size: 9pt;
	font-family: "Roboto-Bold";
	position: absolute;
	right: 32px;
	top: 14px;
	text-align: right;
	text-transform: uppercase;
}

.news-cont .tags {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 40px solid;
	border-left: 40px solid transparent;
}

.top-headline{
	padding: 10px;
	font-size: 16pt;
	font-family: "Roboto-Bold";
	color: white;
	/*color: deepskyblue*/
	/*border-right: solid #444444 2px;*/
	/*border-left: solid #444444 2px; */
}

.iklan{
	width: 100%;
	float: left;
	margin-top: 20px;
}

.iklan img{
	width: 100%;
	height: auto;
	display: block;
}

.populer-news-cont,
.video-cont,
.fokus-cont,
.terkini-cont,
.iklan{
	/*-webkit-box-shadow: 0px 0px 2px 0.5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 2px 0.5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 2px 0.5px rgba(0,0,0,0.1);*/
	-webkit-box-shadow: 0 1px 2px rgba(44,44,44,.3);
	-moz-box-shadow: 0 1px 2px rgba(44,44,44,.3);
	box-shadow: 0 1px 2px rgba(44,44,44,.3);
}

.populer-news{
	border-bottom: solid #e5e5e5 1px;
	overflow-y: auto;
	padding: 10px 0px;
	background-color: #fff;
}

.populer-img{
	width: 100%;
	height: 100%;
	height: 70px;
	background-size: cover;
	background-position: center center;
	float: left;
	cursor: pointer;
}

.populer-news h6{
	font-size: 9pt;
	font-weight: bold;
	font-family: "Arial";
	cursor: pointer;
}


.full-news, .more{
	height: 50px;
	padding: 10px 10px;
	background-color: #fff;
}

.full-news .indeks{
	cursor: pointer;
	margin-left: 120px;
	width: 148px;
	background-color: rgb(76,183,239);
	border-radius: 2px;
	padding: 6px 8px;
	float: right;
}

.more .indeks{
	cursor: pointer;
	width: 100%;
	background-color: rgb(76,183,239);
	border-radius: 2px;
	padding: 6px 0px;
	float: right;
	text-align: center;
}

.full-news .indeks a,
.more .indeks a{
	font-size: 9pt;
	color: white;
	font-family: "Roboto-Regular";
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.more .indeks a{
	font-size: 12pt;
	font-family: "Roboto-Bold";
}

.indeks a i{
	position: relative;
	top: -1px;
}

.full-news .indeks:hover i{
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}


.video-news{
	border-bottom: solid #e5e5e5 1px;
	height: 200px;
	padding: 20px;
	background-color: #fff;
}

.video-news iframe{
	width: 248px;
}

.hits-news{
	border-bottom: solid #e5e5e5 2px;
	font-family: "Roboto-Regular";
	overflow-y: auto;
	background-color: #fff;
	padding: 20px 0px;
	position: relative;
}

.hits-news .tags {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 40px solid;
	border-left: 40px solid transparent
}

.hits-img{
	margin: 2px 0px 0px 10px;
	width: 25%;
	height: 120px;
	background-size: cover;
	background-position: center center;
	float: left;
	cursor: pointer;
}

.hits-news h1{
	font-size: 9pt;
}

.hits-news h2{
	margin-top: 10px;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
}

.hits-news h3{
	font-size: 9pt;
	font-family: "Roboto-Bold";
	position: absolute;
	right: 30px;
	top: 15px;
	text-align: right;
}

.hits-news p{
	margin-top: 10px;
	font-size: 9pt;
}

.hits-news .col-8{
	position: relative;
	top: 2px;
}

.hot-news{
	border-bottom: solid #e5e5e5 1px;
	overflow-y: auto;
	padding: 14px 10px 10px;
	background-color: #fff;
}

.hot-news h3{
	font-family: "Roboto-Bold";
	font-size: 9pt;
	cursor: pointer;
}

@media(max-width: 1200px){
	.news-cont h4,
	.hits-news h2{
		font-size: 10pt;
	}
	.news-cont p,
	.hits-news p,
	.hits-news h1,
	.hits-news h3,
	.populer-news h6{
		font-size: 8pt;
	}

	.news-cont{
		padding-top: 20px;
		padding-bottom: 14px;
	}	

	.iklan img{
		height: 200px;
	}

	.populer-news .col-4{
		width: 50%;
	}

	.populer-news .col-8{
		width: 50%;
	}
}

/*@media(max-width: 960px){
	.news-cont{
		padding-top: 20px;
		padding-bottom: 6px;
	}

	.news-cont h3,
	.hits-news h3{
		right: 22px;
		top: 12px;
		font-size: 7pt;
	}

	.news-cont .tags,
	.hits-news .tags {
		border-top: 30px solid;
		border-left: 30px solid transparent;
	}

	.row .col-6.up,
	.row .col-6.up-slide{
		width: 100%;
	}

	.news{
		position: relative;
		top: -40px;
	}

	.row.berita{
		margin-top: 15px;
	}
}*/

@media(max-width: 960px){

	.container{
		position: relative;
		top: -25px;
		/*border: solid black 1px;*/
	}

	.col-6{
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
		float: none;
	}

	.col-6.up,
	.col-12.top-video{
		display: none;
	}

	.col-3{
		width: 100%;
		padding: 0px;
		float: none;
	}

	.populer-news .col-4 .populer-img{
		height: 250px;
	}

	.populer-news .col-4,
	.populer-news .col-8{
		width: 100%;
	}

	.populer-news .col-8 h6{
		padding: 10px 10px 0px 12px;
	}

	.populer-news .col-8 h6{
		font-size: 11pt;
	}

	.news-cont{
		padding-top: 30px;
		padding-bottom: 26px;
	}

	.news-cont h4{
		font-size: 12pt;
	}

	.news-cont h3,
	.hits-news h3{
		right: 26px;
		top: 14px;
		font-size: 10pt;
	}

	.news-cont .tags,
	.hits-news .tags {
		border-top: 40px solid;
		border-left: 40px solid transparent;
	}

	.news-cont p{
		font-size: 9pt;
	}

	.iklan img{
		display: none;
	}

}

@media(max-width: 768px){

	.container{
		padding: 0px 30px;
	}
}

@media(max-width: 438px){

	.container{
		padding: 0px 10px;
	}

	.slider img{
		height: 320px;
	}

	.slider{
		height: 200px;
	}

	.col-6 .col-8,
	.hits-img{
		width: 100%;
	}

	.col-6{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.hits-img{
		margin: 0px;
		position: relative;
		top: -20px;
	}

	.hits-news{
		border-top: solid #fff 4px;
		border-bottom: solid #e5e5e5 6px;
	}

	.full-news{
		height: auto;
		overflow-y: auto;
	}

	.full-news .indeks{
		width: 100%;
		text-align: center;
		padding: 10px 0px;
	}

	.full-news .indeks a{
		font-size: 12pt;
	}
}


