.col-9 > h6,
.col-3 > h6,
.col-3 .col-12 > h6{
	line-height: 40px;
	color: #fff;
	padding: 0 15px;
	font-size: 12pt;
	text-transform: uppercase;
	line-height: 40px;
	font-family: 'Roboto-Bold';
}

.populer-news{
	border-bottom: solid #e5e5e5 1px;
	height: 80px;
	padding: 8px 0px;
	background-color: #fff;
}

.populer-news img{
	width: 100%;
	height: 63px;
	cursor: pointer;
}

.populer-news h2{
	font-size: 7pt;
	font-family: "Roboto-Regular";
	margin-bottom: 6px;
}

.populer-news p{
	font-size: 9pt;
	font-weight: bold;
	font-family: "Roboto-Regular";
	cursor: pointer;
}

.hot-news{
	border-bottom: solid #e5e5e5 1px;
	overflow-y: auto;
	padding: 12px 10px 10px;
	background-color: #fff;
}

.hot-news h3{
	font-family: "Roboto-Bold";
	font-size: 10pt;
	cursor: pointer;
}

.hits-news{
	border-bottom: solid #e5e5e5 2px;
	font-family: "Roboto-Regular";
	overflow-y: auto;
	background-color: #fff;
	padding: 20px 0px;
	position: relative;
}

.hits-news .tags {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 40px solid;
	border-left: 40px solid transparent
}

.hits-img{
	margin: 2px 0px 0px 10px;
	width: 25%;
	height: 120px;
	background-size: cover;
	background-position: center center;
	float: left;
	cursor: pointer;
}

.hits-news h1{
	font-size: 9pt;
}

.hits-news h2{
	margin-top: 10px;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
}

.hits-news h3{
	font-size: 9pt;
	font-family: "Roboto-Bold";
	position: absolute;
	right: 30px;
	top: 15px;
	text-align: right;
}

.hits-news p{
	margin-top: 10px;
	font-size: 9pt;
}

h1.tophead{
	padding: 20px;
	text-transform: uppercase;
	background-color: #fff;
	font-family: 'Roboto-Bold'
}

.head-img{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center center;
	overflow-y: auto;
}

.head-news{
	position: relative;
	padding: 40px 20px 20px 20px;
}

.head-news h1{
	font-size: 9pt;
	color: #fff;
}

.head-news h2{
	margin-top: 12px;
	font-size: 18pt;
	color: #fff;
}

.head-news p{
	margin-top: 22px;
	margin-bottom: 20px;
	font-size: 10pt;
	color: #fff;
}

.head-news span{
	position: absolute;
	right: 10px;
	bottom: -26px;
	font-size: 10pt;
	color: #fff;
}

.side{
	border-bottom: solid #444 1px; 
	/*border: solid red 1px;*/
	overflow-y: auto;
	padding: 14px 6px;
}

.side-news{
	float: left;
	width: 60%;
	color: #fff;
	padding: 0px 10px;
	/*border: solid red 1px;*/
}

.side-news h5{
	font-size: 10pt;
	margin-bottom: 10px;
}

.side-news p{
	font-size: 8pt
}

.side-news-img{
	float: left;
	/*border: solid red 1px;*/
	width: 40%;
	height: 70px;
	background-size: cover;
	background-position: center center;
}

.headline {
	height: 400px;
	background-color: #444;
	margin-bottom: 20px;
}
.row.wrap {
	padding: 0;
}
.sidebar {
	padding-left: 0;
}
.sidebar > .row {
	margin-bottom: 15px;
}
.sidebar .row > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
}
.sidebar .recent ul li {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
.sidebar .recent ul li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
}
.sidebar .recent ul li .image {
	width: 35%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	float: left;
}
.sidebar .recent ul li .content {
	float: right;
	width: 65%;
	padding-left: 10px;
	height: 100%;
}
.sidebar .recent ul li .content .date {
	font-size: 10pt;
	color: #999;
	margin-bottom: 3px;
}
.sidebar .recent ul li .content .title {
	font-size: 11pt;
	line-height: 15px;
}
.full-news {
	height: 50px;
	padding: 10px 10px;
	background-color: #fff;
}
.indeks {
	cursor: pointer;
	float: right;
	width: 148px;
	background-color: rgb(76,183,239);
	border-radius: 2px;
	padding: 6px 8px;
}
.indeks a {
	font-size: 9pt;
	color: white;
	font-family: "Roboto-Regular";
}