/*=== NORMALISASI begin ===*/
/* normalisasi digunakan untuk mereset CSS, sehingga akan menyamakan tampilan di semua browser */
/*@font-face {
    font-family: 'Avenir';
    font-weight: 300;
    src: url('../font/Avenir-Roman.otf') format('opentype');
}*/
@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 300;
    src: url('../font/roboto/Roboto-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 300;
    src: url('../font/roboto/Roboto-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Light';
    font-weight: 300;
    src: url('../font/roboto/Roboto-Light.ttf') format('opentype');
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-family: 'Roboto-Regular', sans-serif;
    color: #555;
    font-weight: 300;
    /*letter-spacing: 0.1px;*/
    font-size: 11pt;
    width: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    background-color: #e5e5e5;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:hover,
a:visited,
a:link {
    outline: 0 !important;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -moz-box-sizing: content-box;
             box-sizing: content-box;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
                    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
b {
    font-weight: 700;
}
/*=== NORMALISASI end ===*/


/*=== GLOBAL STYLE begin ===*/
.container {
    width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 960px) {
    .container {
        width: 768px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}
.col-1,
.col-2,
.col-25,
.col-3,
.col-4,
.col-45,
.col-5,
.col-6,
.col-7,
.col-75,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 10px;
    float: left;
}
.col-1{
    width: 10%;
}
.col-2 {
    width: 16.6666666666666666666666667%;
}
.col-25 {
    width: 20.8333333333333333333333333%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333333333333333333333333%;
}
.col-45 {
    width: 37.5%;
}
.col-5 {
    width: 41.6666666666666666666666667%;
}
.col-6 {
    width: 50%;
}
.col-75 {
    width: 62.5%;
}
.col-8 {
    width: 66.6666666666666666666666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333333333333333333333333%;
}
.col-11{
    width: 90%;
}
.col-12 {
    width: 100%;
}
.row {
    width: 100%;
    overflow-y: auto;
}

.border{
    border: solid black 1px;
}

/*@media (max-width: 990px) {
    .col-4 {
        width: 50%;
    }
}
@media (max-width: 640px) {
    .col-4 {
        width: 100%;
    }
}*/

/*=== GLOBAL STYLE end ===*/

/*=== navigasi ===*/

/*main {
    padding-bottom: 40px;
}*/

header {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 1px 5px #888888;
    /*z-index: -1;*/
    position: relative;
}

.header-sub{
    /*width: 1200px;*/
    position: relative;
    top: 30px;
}

.header-sub img{
    width: 40%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*margin: 0 auto !important;*/
    /*border: solid white 1px;*/
}

.news-top{
    width: auto;
    margin: 0 auto;
    overflow-y: auto;
    line-height: 30px;
    position: relative;
    top: 138px;
}

.news-top ul li{
    padding: 0 26px;
    float: left;
    /*border: solid black 1px;*/
}

.news-top ul li a{
    font-size: 9pt;
    font-family: "Roboto-Bold";
    color: black ;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}

.news-top ul li a:hover{
    text-decoration: underline;
}

.mobile{
    display: none;
}

@media(max-width: 768px){
    header{
        height: 140px;
    }

    .news-top{
        width: 65% !important;
        border: solid black 1px;
        top: 100px;
    }

    .news-top ul li{
        padding: 0 18px;
    }

    .news-top ul li a{
        font-size: 8pt;
    }
    
    .news-top.desktop{
        display: none;
    }

}

nav{
    width: 1200px;
    margin-left :auto;
    margin-right: auto;
    position: relative;
    top: 220px;
    z-index: 1;
}

.menu-desktop {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.menu-desktop > * {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.menu-desktop .active {
    border-bottom:solid deepskyblue 3px;
    z-index: 99;
}

.menu-desktop .active a {
    color: deepskyblue;
}

.menu-mobile{
    display: none;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    /*border:solid black 1px;*/
}

.menu-mobile i{
    position: relative;
    right: 0px;
    font-size: 16pt;
    color: #a5a5a5;
}

h4.menu-toggle {
    line-height: 45px;
    height: 40px;
    text-align: center;
    /*position: relative;*/
    padding: 0 20px;
    width: 100%;
    display: block;
}

.menu-mobile-wrapper {
    display: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
.menu-mobile-wrapper.show {
    display: block;
    border-top: solid #ccc 1px;
}

.menu-mobile-wrapper ul.mobile-overflow li{
    padding: 8px 10px;
    text-align: center;
}

.menu-mobile-wrapper ul.mobile-overflow li input{
    font-size: 9pt;
    width: 50%;
    font-family: "Roboto-Regular";
    padding: 6px 8px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    background-color: #e5e5e5;
    margin-bottom: 20px;
}

.menu-mobile-wrapper ul.mobile-overflow li i{
    position: relative;
    left: -25px;
    cursor: pointer;
    font-size: 8pt;
}

.menu-mobile-wrapper ul.mobile-overflow li a{
    font-size: 10pt;
    font-family: "Roboto-Bold";
    color: rgb(87,87,87);
    /*transition: all ease 0.2s;*/
    -webkit-transform: translateX(-280px);
    -ms-transform: translateX(-280px);
    -o-transform: translateX(-280px);
    transform: translateX(-280px);
}

nav .dropdown{
    overflow-y: auto;
    background-color: #fff;
    z-index: 99px;
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
}

nav .dropdown ul li{
    float: left;
    padding: 8px 22px;
    line-height: 30px;
    cursor: pointer;
    /*border: solid black 1px;*/
}

nav .dropdown ul li a{
    font-size: 10pt;
    font-family: "Roboto-Bold";
    color: rgb(87,87,87);
}

nav .dropdown ul li:hover > a,
.menu-mobile-wrapper ul.mobile-overflow li a:hover{
    color: deepskyblue;
}

nav .dropdown ul li i{
    position: relative;
    left: -25px;
    cursor: pointer;
}

nav .dropdown ul li input{
    font-size: 9pt;
    width: 230px;
    font-family: "Roboto-Regular";
    padding: 6px 8px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    background-color: #e5e5e5;
}

nav .dropdown ul li:hover > ul.sub-menu{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

nav ul.sub-menu{
    position: absolute;
    overflow-y: auto;
    cursor: default;
    z-index: 1;
    top:46px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    border-top: solid #eaeaea 1px;
    border-bottom: solid #eaeaea 1px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: transform;
    transition-property: transform;
    transition:all ease-in-out 0.4s;
    -webkit-transition:all ease-in-out 0.4s;
     
}

nav ul.sub-menu li{
    /*margin-top: 2px;*/
    /*margin-bottom: 1px;*/
    cursor: default;
    background-color: #fff;
    padding: 8px 32px;
    border-right: solid #eaeaea 1px;
    overflow-x: none 
}

nav ul.sub-menu li a{
    font-size: 10pt;
     transition: all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
}

@media(max-width: 1200px){
    nav{
        width: 960px;
    }

    nav .dropdown ul li{
        padding: 8px 12px;
    }

    nav .dropdown ul li input{
        width: 160px;
    }
}

@media(max-width: 960px){
    nav{
        width: 768px;
    }

    .menu-desktop{
        display:none;
    }

    .menu-mobile{
        display: block;
    }

}

@media(max-width: 768px){
    nav{
        width: 100%;
        padding: 0 20px;
        /*margin-bottom: 0px;*/
        top: 80px;
    }

    .news-top{
        width: 450px;
    }

    .news-top ul li{
        padding: 10 0px;
    }

}

.back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 14pt;
    /*background-color: rgb(116,224,255);*/
    background-color: deepskyblue;
    cursor: pointer;
    padding: 9px 12px;
    color: #fff;
    opacity: 0.6;
    border-radius: 4px; 
    transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    display: none;
}

.back-top:hover{
    opacity: 1;
}

footer{
    width: 100%;
    background-color: black;
}

footer .footer-iklan{
    margin-top: 0px;
    width: 100%;
    height: 68px;
    background-size: cover;
    background-position: center center;
}

footer .footer{
    width: 100%;
    padding: 26px;
    /*height: 40px;*/
    background-color: black;
    text-align: center;
    /*border: solid white 1px;*/
}

footer .footer .menu-foot,
footer .footer .foot{
    position: relative;
    left: -50%;
    text-align: left;
    float: right;
}

footer .footer .menu-foot ul,
footer .footer .foot ul{
    display: inline-block;
    position: relative;
    left: 50%;
    top: -10px;
    width: 100%;
    overflow-y: auto;
}

footer .footer .foot ul{
    top: -16px !important;
}

footer .footer .menu-foot ul li,
footer .footer .foot ul li{
    float: left;
    padding: 0px 10px;
    text-align: center;
}

footer .footer .foot ul li{
    padding: 0px 8px;
    border-right: solid #888 1px; 
}

footer .footer .menu-foot ul li a,
footer .footer .foot ul li a{
    font-size: 10pt;
    font-family: 'Roboto-Regular';
    color: #fff;
} 

footer .footer .foot ul li a{
    color: #888;
}

footer .footer .foot ul li a{
    font-size: 9pt;
    font-family: 'Roboto-Regular';
    color: #888;
}

footer .footer .menu-foot ul li a:hover,
footer .footer .foot ul li a:hover{
    text-decoration: underline;
}

footer .footer .copyright{
    display: inline-block;
    font-family: "Roboto-Regular";
    font-size: 9pt;
    color: #888;
    text-align: center;
}

footer .footer .social-media {
    width: 32px;
    display: inline-block;
    background-color: #444;
    margin-right: 10px;
    -webkit-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

footer .footer .social-media a {
    display: block;
    width: 32px;
    height: 32px;
    padding: 6px;
}

footer .footer .social-media.facebook:hover{
    background-color: #425f9c
}

footer .footer .social-media.twitter:hover{
    background-color: #55acee
}

footer .footer .social-media.google:hover{
    background-color: #df4b38
}

footer .footer .social-media.pin:hover{
    background-color: #cc181e
}

footer .footer .social-media a img {
    height: 18px;
    width: 18px;
}


@media(max-width: 700px){

    footer .footer .menu-foot ul li{
        float: none;
        margin-bottom: 8px;
    }

}

@media(max-width: 460px){

    footer .footer.foot {
        display: none;
    }

    footer .footer .copyright{
        position: relative;
        top: -12px;
    }

}