.box{
	-webkit-box-shadow: 0 1px 2px rgba(44,44,44,.3);
	-moz-box-shadow: 0 1px 2px rgba(44,44,44,.3);
	box-shadow: 0 1px 2px rgba(44,44,44,.3);
}

.video-cont{
	font-family: "Roboto-Light";
	background-color:#fff;
	padding:10px 0px 30px;
}

.video-cont iframe{
	width: 100%;
	height: 420px;
	padding: 0px 20px 0px 20px;
}

.video-cont p{
	padding: 10px 40px 10px 200px;
	font-size: 12pt;
	text-align: justify;
}

.video-cont span{
	padding: 10px 40px;
	font-weight: 700;
	display: block;
	margin-bottom: 30px;
}

.breadcrumb{
	padding: 10px 20px;
	font-size: 10pt;
	margin-bottom: 20px;
}

.breadcrumb h1{
	margin: 20px 0px 10px;
}

.social-media {
    width: 36px;
    position: relative;
    top: 8px;
    left: 10px;
    display: inline-block;
}
.social-media a {
    display: block;
    width: 36px;
    height: 36px;
    padding: 7px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.social-media a img {
    height: 22px;
    width: 22px;
}

.social-media a:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

.video-terkait h1{
	font-size: 10pt;
	font-weight: 700;
	margin-top: 10px;
	text-align: center;
}

.top-headline{
	padding: 10px;
	font-size: 14pt;
	font-family: "Roboto-Regular";
	color: white;
}

.comment{
	padding: 20px;
}

.comment .row{
	/*border: solid black 1px;*/
	border-bottom: solid #e5e5e5 1px;
	padding: 20px 0px 20px;
}

.comment .row .col-2 img{
	width: 120px;
	height: 100px;
	/*float: left;*/
	display: inline-block;
	/*border: solid black 1px;*/
}

.comment .row .col-10{
	padding-right: 0px;
}

.comment .row .col-10 textarea{
	width: 100%;
	height: 100px;
	font-size: 10pt;
	outline: 0;
	padding: 20px 10px;
}

.com.top-headline{
	display: none;
}

.comment-top{
	border-bottom: solid #e5e5e5 1px;
	overflow-y: auto;
	padding-bottom: 10px;
}

.comment-top b{
	float: left;
}

.comment-top h4{
	font-weight: 600;
	float: right;
}

.comment-top h4 select{
	font-weight: 700;
    outline: 0;
    border: solid #e5e5e5 1px;
    padding: 4px;
}

.populer-news{
	border-bottom: solid #e5e5e5 1px;
	height: 80px;
	padding: 8px 0px;
	background-color: #fff;
}

.populer-news img{
	width: 100%;
	height: 63px;
	cursor: pointer;
}

.populer-news h2{
	font-size: 7pt;
	font-family: "Roboto-Regular";
	margin-bottom: 6px;
}

.populer-news p{
	font-size: 9pt;
	font-weight: bold;
	font-family: "Roboto-Regular";
	cursor: pointer;
}

.full-news{
	height: 50px;
	padding: 10px 10px;
	background-color: #fff;
}

.full-news .indeks{
	cursor: pointer;
	margin-left: 120px;
	width: 148px;
	background-color: rgb(76,183,239);
	border-radius: 2px;
	padding: 6px 8px;
	float: right;
}

.full-news .indeks a{
	font-size: 9pt;
	color: white;
	font-family: "Roboto-Regular";
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.full-news .indeks:hover i{
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}

.hot-news{
	border-bottom: solid #e5e5e5 1px;
	/*height: 40px;*/
	overflow-y: auto; 
	padding: 12px 10px 10px;
	background-color: #fff;
}

.hot-news h3{
	font-family: "Roboto-Bold";
	font-size: 10pt;
	cursor: pointer;
}

.iklan img{
	width: 100%;
	height: 200px;
	display: block;
}