.box{
	-webkit-box-shadow: 0 1px 2px rgba(44,44,44,.3);
	-moz-box-shadow: 0 1px 2px rgba(44,44,44,.3);
	box-shadow: 0 1px 2px rgba(44,44,44,.3);
}

.head-img{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center center;
	overflow-y: auto;
}

.head-news{
	position: relative;
	padding: 60px 20px 20px 20px;
}

.head-news .tag {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 40px solid;
	border-left: 40px solid transparent;
}

.head-news h1{
	font-size: 9pt;
	color: #fff;
}

.head-news h2{
	margin-top: 12px;
	font-size: 18pt;
	color: #fff;
}

.head-news p{
	margin-top: 22px;
	margin-bottom: 20px;
	font-size: 10pt;
	color: #fff;
}

.head-news span{
	position: absolute;
	right: 10px;
	bottom: -26px;
	font-size: 10pt;
}

.head-news h6{
	z-index: 99;
	position: absolute;
	top: 18px;
	right: 30px;
	font-size: 10pt;
	color: #fff;
}

.side{
	border-bottom: solid #444 1px; 
	/*border: solid red 1px;*/
	overflow-y: auto;
	padding: 14px 6px;
}

.side-news{
	float: left;
	width: 60%;
	color: #fff;
	padding: 0px 10px;
	/*border: solid red 1px;*/
}

.side-news h5{
	font-size: 10pt;
	margin-bottom: 10px;
}

.side-news p{
	font-size: 8pt
}

.side-news-img{
	float: left;
	/*border: solid red 1px;*/
	width: 40%;
	height: 70px;
	background-size: cover;
	background-position: center center;
}

.headline {
	height: 400px;
	background-color: #444;
	margin-bottom: 20px;
}
.row.wrap {
	padding: 0;
}
.sidebar {
	padding-left: 0;
}
.sidebar > .row {
	margin-bottom: 15px;
}
.sidebar .row > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
}
.sidebar .recent ul li {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	cursor: default !important;
}
.sidebar .recent ul li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
}
.sidebar .recent ul li .image {
	width: 35%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	float: left;
}
.sidebar .recent ul li .content {
	float: right;
	width: 65%;
	padding-left: 10px;
	height: 100%;
}
.sidebar .recent ul li .content .date {
	font-size: 10pt;
	color: #999;
	margin-bottom: 3px;
}
.sidebar .recent ul li .content .title {
	font-size: 11pt;
	line-height: 15px;
}

.sidebar .recent ul li .content .title:hover{
	text-decoration: underline;
}

.full-news {
	height: 50px;
	padding: 10px 10px;
	background-color: #fff;
}
.indeks {
	cursor: pointer;
	float: right;
	width: 148px;
	background-color: rgb(76,183,239);
	border-radius: 2px;
	padding: 6px 8px;
}
.indeks a {
	font-size: 9pt;
	color: white;
	font-family: "Roboto-Regular";
}
/*.indeks a i{
	position: relative;
	top: -1px;
}*/
.full-news .indeks:hover i{
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}
.tags li {
	border-bottom: 1px solid #ccc;
	padding: 15px;
	background-color: #fff;
}
.tags li a {
	display: block;
	font-family: 'Roboto-Bold';
}

.tags {
	background-color: #fff;
}

.sections {
	padding-right: 0;
}
.section {
	background-color: #fff;
	margin-bottom: 20px;
}
.section > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
}
.section > h3 a{
	font-weight: bold;
	font-size: 9pt;
	font-family: 'Arial';
	float: right;
	text-transform: lowercase;
	transtion: all ease-out 0.2s;
	-webkit-transtion: all ease-out 0.2s;
}
.section > h3 a i{
	position: relative;
	top: -0.5px;
	margin-right: 6px;
}
.section > h3 a:hover{
	/*text-decoration: underline;*/
	/*color: rgb(240,240,240);*/
}
.section > h3 a:hover i{
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}
.featured {
	margin-bottom: 40px;
}
.section-image {
	height: 320px;
	background-size: cover;
	background-position: center center;
}
.section-content {
	padding: 15px;
	height: 320px;
	overflow: hidden;
	position: relative;
}
.section-content .title {
	font-family: 'Roboto-Bold';
	font-size: 18pt;
	line-height: 24px;
	color: #222;
	margin: 15px 0;
}
.section-content > p {
	margin-bottom: 20px;
	text-align: justify;
}
.section-content a.readmore {
	display: block;
	float: right;
	position: absolute;
	bottom: 0px;
	right: 20px;
}
.sub-featured {
	padding: 0 10px;
	padding-bottom: 20px;
}
.sub-featured a {
	display: block;
}
.sub-featured .image {
	width: 100%;
	height: 160px;
	background-size: cover;
	background-position: center center;
	margin-bottom: 10px;
}
.sub-featured .title {
	font-family: 'Roboto-Bold';
	font-size: 12pt;
}

.photo-slide > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
}
.photo-slide {
	background-color: #fff;
	margin-bottom: 20px;
}
.photo-slide li {
	width: 100%;
	height: 420px;
	background-size: cover;
	background-position: center center;
}
.photo-slide li .gradient {
	width: 100%;
	height: 390px;
	position: relative;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 57%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(57%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.photo-slide li .gradient .text {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding: 15px;
}
.photo-slide li .gradient .text h3 {
	font-family: 'Roboto-Bold';
	font-size: 16pt;
}
.photo-slide .bx-wrapper {
	margin-bottom: 0;
}
.photo-slide .bx-viewport {
	left: 0;
	border: 15px solid #fff;
	box-shadow: none;
}
#bx-pager {
	overflow-y: auto;
	margin-top: -15px;
	margin-bottom: 15px;
	position: relative;
	z-index: 10;
	border-right: 15px solid #fff;
	border-left: 15px solid #fff;
	background-color: #000;
}
#bx-pager a {
	display: block;
	width: 20%;
	float: left;
	cursor: pointer;
	height: 100px;
	background-size: cover;
	background-position: center center;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	opacity: 0.5;
}
#bx-pager a:hover {
	opacity: 1;
}

.video {
	background-color: #fff;
	padding-bottom: 15px;
}
.video > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
	margin-bottom: 15px;
}
.video .row {
	padding: 0 5px;
}
.video .image {
	height: 180px;
	background-size: cover;
	background-position: center center;
	margin-bottom: 10px;
}
.video p {
	color: #999;
	font-size: 10pt;
}
.video .col-4 h3 {
	font-family: 'Roboto-Bold';
}

@media(max-width: 1200px){
	.head-news span{
		bottom: -6px;
	}

	.side-news h5{
		font-size: 9pt;
		margin-bottom: 3px;
	}

	.row.recent ul li .content p.date,
	.row.recent ul li .content h4.title{
		font-size: 8pt;
	}

	.col-4.section-content > h3.title{
		font-size: 12pt;
	}

	.col-4.section-content > p{
		font-size: 10pt;
	}

}

@media(max-width: 960px){
	.col-3.sid,
	.col-3.sidebar{
		display: none;
	}

	.col-9.upsid,
	.col-9.sections{
		width: 100%;
		padding-left: 0px;
	}

	.col-4.upsid{
		width: 40%;
	}

	.col-8.image{
		width: 60%;
	}
}

@media(max-width: 768px){
	.headline{
		margin-top: 20px;
		height: auto;;
	}

	.row.headline{
		position: relative;
	}

	.head-news span{
		bottom: 10px;
	}

	.col-4.upsid,
	.col-8.image{
		width: 100%;
		float: none; 
	} 

	.col-4.upsid{
		position: absolute;
		bottom: 0px;
		/*border: solid black 1px;*/
	}

	.head-news{
		background-color: rgba(0,0,0,0.8);
		padding-top: 20px;
	}

	.head-news p{
		margin-top: -10px;
	}

	.row.featured .col-8.section-image,
	.row.featured .col-4.section-content{
		width: 100%;
	}

	.col-4.section-content > h3.title{
		font-size: 16pt;
	}

	.col-4.section-content > p{
		font-size: 12pt;
	}

	.col-4.section-content{
		height: auto;
	}

	.featured {
		margin-bottom: 20px;
	}

	.row.sub-featured .col-4 h4.title{
		font-size: 10pt;
	}
}

@media(max-width: 465px){
	.col-3.sidebar{
		display: block;
		width: 100%;
	}

	.row.recent ul li .content p.date,
	.row.recent ul li .content h4.title{
		font-size: 9pt;
	}

	.photo-slide ul.bxslider .gradient .text h3{
		font-size: 10pt;
	}

	.col-4.section-content > h3.title{
		font-size: 14pt;
	}

	.col-4.section-content > p{
		font-size: 10pt;
	}

	.head-news h1,
	.head-news h2{
		font-size: 12pt;
	}

	.head-news p{
		font-size: 8pt;
	}

	.head-news .tag,
	.head-news h6,
	.video.row,
	.row.sub-featured{
		display: none;
	}

	#bx-pager a{
		width: 50%;
	}

	.featured {
		padding-bottom: 20px;
	}
}