.col-9 > h6,
.col-3 > h6,
.col-3 .col-12 > h6{
	line-height: 40px;
	color: #fff;
	padding: 0 15px;
	font-size: 12pt;
	text-transform: uppercase;
	line-height: 40px;
	font-family: 'Roboto-Bold';
}

.populer-news{
	border-bottom: solid #e5e5e5 1px;
	height: 80px;
	padding: 8px 0px;
	background-color: #fff;
}

.populer-news img{
	width: 100%;
	height: 63px;
	cursor: pointer;
}

.populer-news h2{
	font-size: 7pt;
	font-family: "Roboto-Regular";
	margin-bottom: 6px;
}

.populer-news p{
	font-size: 9pt;
	font-weight: bold;
	font-family: "Roboto-Regular";
	cursor: pointer;
}

.hot-news{
	border-bottom: solid #e5e5e5 1px;
	overflow-y: auto;
	padding: 12px 10px 10px;
	background-color: #fff;
}

.hot-news h3{
	font-family: "Roboto-Bold";
	font-size: 10pt;
	cursor: pointer;
}

.hits-news{
	border-bottom: solid #e5e5e5 2px;
	font-family: "Roboto-Regular";
	overflow-y: auto;
	background-color: #fff;
	padding: 20px 0px;
	position: relative;
}

.hits-news .tags {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 40px solid;
	border-left: 40px solid transparent
}

.hits-img{
	margin: 2px 0px 0px 10px;
	width: 25%;
	height: 120px;
	background-size: cover;
	background-position: center center;
	float: left;
	cursor: pointer;
}

.hits-news h1{
	font-size: 9pt;
}

.hits-news h2{
	margin-top: 10px;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
}

.hits-news h3{
	font-size: 9pt;
	font-family: "Roboto-Bold";
	position: absolute;
	right: 30px;
	top: 15px;
	text-align: right;
}

.hits-news p{
	margin-top: 10px;
	font-size: 9pt;
}

h1.tophead{
	padding: 20px;
	text-transform: uppercase;
	background-color: #fff;
	font-family: 'Roboto-Bold'
}

.head-img{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center center;
	overflow-y: auto;
}

.head-news{
	position: relative;
	padding: 40px 20px 20px 20px;
}

.head-news h1{
	font-size: 9pt;
	color: #fff;
}

.head-news h2{
	margin-top: 12px;
	font-size: 18pt;
	color: #fff;
}

.head-news p{
	margin-top: 22px;
	margin-bottom: 20px;
	font-size: 10pt;
	color: #fff;
}

.head-news span{
	position: absolute;
	right: 10px;
	bottom: -26px;
	font-size: 10pt;
	color: #fff;
}

.side{
	border-bottom: solid #444 1px; 
	/*border: solid red 1px;*/
	overflow-y: auto;
	padding: 14px 6px;
}

.side-news{
	float: left;
	width: 60%;
	color: #fff;
	padding: 0px 10px;
	/*border: solid red 1px;*/
}

.side-news h5{
	font-size: 10pt;
	margin-bottom: 10px;
}

.side-news p{
	font-size: 8pt
}

.side-news-img{
	float: left;
	/*border: solid red 1px;*/
	width: 40%;
	height: 70px;
	background-size: cover;
	background-position: center center;
}

.headline {
	height: 400px;
	background-color: #444;
	margin-bottom: 20px;
}
.row.wrap {
	padding: 0;
}
.sidebar {
	padding-left: 0;
}
.sidebar > .row {
	margin-bottom: 15px;
}
.sidebar .row > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
}
.sidebar .recent ul li {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
.sidebar .recent ul li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
}
.sidebar .recent ul li .image {
	width: 35%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	float: left;
}
.sidebar .recent ul li .content {
	float: right;
	width: 65%;
	padding-left: 10px;
	height: 100%;
}
.sidebar .recent ul li .content .date {
	font-size: 10pt;
	color: #999;
	margin-bottom: 3px;
}
.sidebar .recent ul li .content .title {
	font-size: 11pt;
	line-height: 15px;
}
.full-news {
	height: 50px;
	padding: 10px 10px;
	background-color: #fff;
}
.indeks {
	cursor: pointer;
	float: right;
	width: 148px;
	background-color: rgb(76,183,239);
	border-radius: 2px;
	padding: 6px 8px;
}
.indeks a {
	font-size: 9pt;
	color: white;
	font-family: "Roboto-Regular";
}
.tags {
	background-color: #fff;
}
.tags li {
	border-bottom: 1px solid #ccc;
	padding: 15px;
}
.tags li a {
	display: block;
	font-family: 'Roboto-Bold';
}

.sections {
	padding-right: 0;
}
.section {
	background-color: #fff;
	margin-bottom: 20px;
}
.section > h3 {
	line-height: 30px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
}
.featured {
	margin-bottom: 40px;
}
.section-image {
	height: 320px;
	background-size: cover;
	background-position: center center;
}
.section-content {
	padding: 15px;
	height: 320px;
	overflow: hidden;
}
.section-content .title {
	font-family: 'Roboto-Bold';
	font-size: 18pt;
	line-height: 24px;
	color: #222;
	margin: 15px 0;
}
.section-content > p {
	margin-bottom: 20px;
	text-align: justify;
}
.section-content a.readmore {
	display: block;
	float: right;
}
.sub-featured {
	padding: 0 10px;
	padding-bottom: 20px;
}
.sub-featured a {
	display: block;
}
.sub-featured .image {
	width: 100%;
	height: 160px;
	background-size: cover;
	background-position: center center;
	margin-bottom: 10px;
}
.sub-featured .title {
	font-family: 'Roboto-Bold';
	font-size: 12pt;
}

.photo-slide > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
}
.photo-slide {
	background-color: #fff;
	margin-bottom: 20px;
}
.photo-slide li {
	width: 100%;
	height: 420px;
	background-size: cover;
	background-position: center center;
}
.photo-slide li .gradient {
	width: 100%;
	height: 390px;
	position: relative;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 57%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(57%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.photo-slide li .gradient .text {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding: 15px;
}
.photo-slide li .gradient .text h3 {
	font-family: 'Roboto-Bold';
	font-size: 16pt;
}
.photo-slide .bx-wrapper {
	margin-bottom: 0;
}
.photo-slide .bx-viewport {
	left: 0;
	border: 15px solid #fff;
	box-shadow: none;
}
#bx-pager {
	overflow-y: auto;
	margin-top: -15px;
	margin-bottom: 15px;
	position: relative;
	z-index: 10;
	border-right: 15px solid #fff;
	border-left: 15px solid #fff;
	background-color: #000;
}
#bx-pager a {
	display: block;
	width: 20%;
	float: left;
	cursor: pointer;
	height: 100px;
	background-size: cover;
	background-position: center center;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	opacity: 0.5;
}
#bx-pager a:hover {
	opacity: 1;
}

.video {
	background-color: #fff;
	padding-bottom: 15px;
}
.video > h3 {
	line-height: 40px;
	color: #fff;
	background-color: #555;
	padding: 0 15px;
	text-transform: uppercase;
	line-height: 40px;
	margin-bottom: 15px;
}
.video .row {
	padding: 0 5px;
}
.video .image {
	height: 180px;
	background-size: cover;
	background-position: center center;
	margin-bottom: 10px;
}
.video p {
	color: #999;
	font-size: 10pt;
}
.video .col-4 > h3 {
	font-family: 'Roboto-Bold';
}